apiVersion: v1
kind: Service
metadata:
  name: my-nginx
spec:
  type: {{ .Values.service.type }}
  selector:
    app: my-nginx
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}

