env: blue

replicas: 1

image:
  repository: asia-south1-docker.pkg.dev/s-0-009988/docker-images/blue-deployment
  tag: ""
  pullPolicy: IfNotPresent

appName: blue-deployment

service:
  name: blue-deployment
  type: LoadBalancer
  port: 80

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  path: /
  port: 80

readinessProbe:
  path: /
  port: 80
