appName: myapp

activeVersion: blue

image:
  repository: asia-south1-docker.pkg.dev/s-0-009988/docker-images/blue-deployment
  tag: ""
  pullPolicy: IfNotPresent

  replicas: 2

  service:
  type: LoadBalancer
  port: 80

