# ENVIRONMENT IDENTIFIER
env: blue   # change: blue / green

namespace: blue-green-ns

# Deployment settings
replicas: 3

image:
  repository: asia-south1-docker.pkg.dev/s-0-009988/docker-images/blue-deployment
  #tag: latest
  pullPolicy: IfNotPresent

containerPort: 3000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "200m"
    memory: "256Mi"

service:
  type: NodePort
  port: 3000
  nodePort: 30000
